# dbt
target/
dbt_packages/
logs/
dbt_internal_packages/

# entorno virtual Python
.venv/

# credenciales — NUNCA a GitHub
.env

# datos crudos descargados (archivos grandes)
data/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
